.hero {
  background-image: url('assets/hero-bg.jpg');
  min-height: 250px;
  font-family: 'Roboto', sans-serif;
}

.headline {
  font-family: 'Montserrat', sans-serif;
}

.social-icon {
  width: 24px;
  height: 24px;
}

.social-icon path {
  fill: #fff;
}

.darken {
  background: rgba(0,0,0,0.35);
}

.button {
  transition: all 0.5s;
}

.button:hover {
  color: #555;
}
