.headline {
  font-family: 'Montserrat', sans-serif;
}

.social-icon {
  width: 24px;
  height: 24px;
}

.social-icon path {
  fill: #fff;
}

.darken {
  background: rgba(0,0,0,0.25);
}

.button {
  transition: all 0.5s;
  font-family: 'Roboto', sans-serif;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 135px;
  text-align: center;
}

.button:hover {
  color: #555;
}

section {
  padding: 1.5rem;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

section > header {
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #E7040F;
}
.subsection > header {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.subsection {
  margin-bottom: 1.5rem;
}

.subsection a {
  margin-right: 1rem;
}

a {
  color: #357EDD;
  text-decoration: none;
}

a:hover {
  color: #96CCFF;
}

li {
  margin-bottom: 0.5rem;
}

footer {
  background-color: #333333;
  color: #F4F4F4;
  padding: 2rem;
}
